[submodule "techtalk-LIDASem/reveal.js"]
	path = techtalk-LIDASem/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "techtalk-OpenLunch/revealjs"]
	path = techtalk-OpenLunch/revealjs
	url = https://github.com/hakimel/reveal.js
[submodule "techtalk-vagrant/revealjs"]
	path = techtalk-vagrant/revealjs
	url = https://github.com/hakimel/reveal.js
