
/* custom css options for vagrant-techtalk
* made by Alex Coleman
* 2020-02-19
*/

/*
*  TOC
*
*
*/

// slide contents div settings

.contents {
  //text-align: left;
}

#scriptable-virtual-environments-with-vagrant {
  background-image: url("../../../images/miniLogo.png"), url("../../../images/hexlogowoText.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 0px right 0px, bottom 0px left 0px;
  background-size: 25%, 45%;
}
