[Unit]
Description=Sample Voila app
[Service]
User=vagrant
Group=www-data
ExecStart=/bin/bash /home/vagrant/voila_run.sh

[Install]
WantedBy=multi-user.target
